html {
    margin: 0;
    padding: 0;
}

body{
    max-width: 960px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    }

.personal-inf {
    display: flex;
    flex-direction: row;
    color: #fff;
    background-color: #1E5799;
    border-radius: 0 50px 0 0;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

.personal-inf h3{
    border: 1px solid #fff;
    box-shadow: 0.4em 0.4em 5px rgba(254,254,254,0.5);
}

h3{
    color: #fff;
    background-color: #1E5799;
    text-transform: uppercase;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

.one img{
    display: flex;
    width: 66%;
    filter: grayscale(60%);
    border: 2px solid black;
}

.two p a{
    color: #fff;
    margin: 0;
}

.publications{
    border-bottom: 1px solid rgba(122,122,122,0.5);
    border-radius: 0 0 50px 0;
}

.publications ul{
    padding:  0;
    list-style-type: none;
}
